body {
    margin: 0px;
    user-select: none;
}

* {
    font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

:root {
    --darkgreen: #0a440a
}

.funnel-display {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

nav {
    background: white;
    height: auto;
    display: flex;
    width: 100%;
    height: 13vh;
    border-bottom: 0.1px solid var(--darkgreen);
    align-items: center;
}

.logo-title {
    font-size: 4rem;
    display: flex;
    text-decoration: none;
    gap: 10px;
    align-items: center;
    margin-left: 55px;
}

.logo-div-name {
    display: flex;
    gap: 0px;
}

#bicycle-logo {
    font-size: 4rem;
    color: green;
    transition: transform 0.3s ease;
    display: inline-block;
}

/* 1. Дефинираме анимацията "wheelie" */
@keyframes wheelie {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg); /* Накланя колелото назад */
  }
}

/* 2. Прилагаме ефекта при hover върху родителя */
.logo-title:hover #bicycle-logo {
  animation: wheelie 0.4s ease-out forwards;
  display: inline-block; /* Осигурява правилното въртене */
  transform-origin: bottom left; /* Върти се около задната гума */
}

#nav-btns-dsad {
    position: absolute;
    right: 30px;
    cursor: default;
}

#nav-btns-wrpr {
    display: flex;
    gap: 15px;
}

.nav-btns {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--darkgreen);
    cursor: pointer;
    transition: transform 0.3s ease;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nrmbtn:hover {
    color: green;
}

.rentbtn {
    color: white; 
    background: green; 
    padding: 10px; 
    border-radius: 15px;
    text-transform: uppercase;
}

.rentbtn:hover {
    transform: scale(1.05);
}

#lndgpage-img {
    height: 87vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/frontend/src/assets/images/landing-page-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: bottom center;
}

#ldngblur {
    height: inherit;
    display: flex;
    align-items: center;
}

#leftsdcwrpr {
    width: 30%;
    height: auto !important;
    position: absolute;
    left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    background: rgba(255, 255, 255, 0.2); /* Полупрозрачен фон */
    backdrop-filter: blur(3px);           /* Размазва фона зад контейнера */
    -webkit-backdrop-filter: blur(8px); 
    border-radius: 15px;
    padding: 20px;
    gap: 50px;
    text-align: center;
}

.vrnp {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin: 0px
}

.smlstxt {
    font-size: 1.7rem;
    color: white;
    margin: 0px;
    text-wrap: balance;
}

#how-it-works {
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: url(/frontend/src/assets/images/dots-background.png);
}

#how-it-works-wrpr {
    width: 100%;
}

#how-it-works-cards {
    width: 100%;
    height: 75%;
    justify-content: center;
    display: flex;
    align-items: center
}

#how-it-works-cards-wrpr {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;
    align-items: center
}

.how-it-works-card-strr {
    background: white;
    border-radius: 15px;
    border: 3px solid green;
    padding: 10px;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#how-it-works-wrpr-text {
    text-align: center;
    color: var(--darkgreen);
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-line {
    width: 90%;
    border: 1px solid green;
    display: flex;
    margin: 0px auto;
}

.cardsimg {
    height: 100px;
}

.cards-btn {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 40px;
}

.p-cards {
    font-size: 1.4rem;
    text-align: center;
    color: var(--darkgreen);
    margin-bottom: 0;
}

.cardsimg-algn {
    display: flex;
    margin: 0px auto;
}

.cards-btns-desgn {
    border: 3px solid green;
    border-radius: 15px;
    padding: 10px;
    background: white;
    color: green;
    font-size: 1.3rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 90%;
}

.cards-btns-desgn:hover {
    color: white;
    background: green;
}

.cards-ul {
    padding-left: 20px;
}

.cards-ul li {
    list-style: disc;
    color: var(--darkgreen);
    font-size: 1.2rem;
    text-wrap: balance;
}

#pricing {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e8e8e8;
}

#pricing-wrpr {
    width: 95%;
    height: 90%;
    border-radius: 15px;
    border: 3px solid white;
    background-image: url(/frontend/src/assets/images/pricing-background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}

#pricing-wrpr-text {
    color: black;
    text-align: center;
}

.pricing-card-strr {
    border-radius: 10px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    padding: 10px;
    transition: box-shadow 0.3s ease-in-out;
    height: 390px;
}

.sngltrp {
    border: 3px solid white;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.9) 0%, rgba(214, 214, 214, 0.9) 35%, rgba(176, 176, 176, 0.9) 100%);
}

.sngltrp:hover {
    box-shadow: 
    0 0 30px 5px rgba(0, 0, 0, 0.6), 
    0 0 60px 10px rgba(0, 0, 0, 0.3);
    border: 3px solid black; /* Optional: thin green border */
}

.dayps {
    height: 450px;
    background: radial-gradient(circle,rgba(0, 128, 0, 0.7) 0%, rgba(33, 138, 33, 0.7) 50%, rgba(32, 87, 32, 0.7) 100%);
    border: 3px solid rgba(2, 126, 2, 0.438);
    /* outer glow: x-offset y-offset blur spread color */
    box-shadow: 0 0 30px 5px rgb(0 157 67 / 50%), 0 0 60px 10px rgba(46, 204, 113, 0.2);    
}

.dayps:hover {
    border: 3px solid var(--darkgreen);
}

.p-trip {
    font-size: 1.2rem;
    margin: 0px;
    margin-bottom: -10px;
}

.p-price {
    font-size: 3rem;
    margin: 0px;
}

.subscriptions-ul {
    list-style-type: none;
    padding: 0px;
    font-size: 1rem;
}

.subscriptions-ul li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.whtic li {
    color: white;
}

.whit {
    border: 1px solid #cdcdcd;
}

.blck {
    border: 1px solid black;
}

.price-btns-desgn {
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.5s ease;
    background: transparent;
}

.gdpas {
    color: white;
    border: 3px solid white;
    border-bottom: 5px solid;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.5s ease;
    background: transparent;
}

.gdpas:hover {
    background: #cdcdcd;
}

.price-btns-desgn:hover {
    background: white;
}

#fleet {
    height: 100vh;
    width: 100%
}